{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <div class="dashboard-container">
        <div class="top-nav">
        <h1><a href="{% url 'dashboard' %}">SURE START INTERNATIONAL SCHOOL</a></h1>
        <p><a href="{% url 'dashboard' %}">Dashboard</a></p>
        </div>
        <div class="top-header">
            <div>Welcome {{ user.username }} !</div>
            <div class="logout-p"><a href="{% url 'logout' %}">Log out</a></div>        
        </div>


        <div class="dashboard-content">
            <div class="graph-div">

                <div id="graph-container" style="width: 90%;height: 20%;">
                    <canvas id="population-chart" data-url="{% url 'population-chart' %}"></canvas>
                </div>

            </div>
            <div class="all-widgets">
                <div class="widget wgt-1"><a href="{% url 'students' %}">Students</a></div>
                <div class="widget wgt-2"><a href="{% url 'receipts' %}">Receipts</a></div>
                <div class="widget wgt-3"><a href="{% url 'staff' %}">Staff</a></div>
                <div class="widget wgt-4"><a href="{% url 'fees_catalogue' %}">Fees</a></div>
            </div>
        </div>

    </div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Login</a> |  
{% endif %}


<script>
$(function () {

    var $populationChart = $("#population-chart");
    $.ajax({
    url: $populationChart.data("url"),
    success: function (data) {

        var ctx = $populationChart[0].getContext("2d");

        new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: data.labels,
            datasets: [{
            backgroundColor: [
            '#FFD700', '#FF5733', '#93C572', '#F4C430', '#D3D3D3'],
            label: 'Enrollment',
            data: data.data
            }]          
        },
        options: {
            responsive: true,
            legend: {
            position: 'top',
            },
            title: {
            display: true,
            text: 'Student Year Enrollment Chart',
            }
        }
        });

    }
    });

    });

</script>

{% endblock content %}