{% extends 'base.html' %}

{% block title %}Receipt{% endblock title %}

{% block content %}
<div class="dashboard-container">
    <div class="top-nav">
        <h1><a href="{% url 'dashboard' %}">SURE START INTERNATIONAL SCHOOL</a></h1>
        <p><a href="{% url 'dashboard' %}">Dashboard</a>/<a href="{% url 'receipts' %}" class="active-link">Receipts</a></p>
    </div>

    <div class="add-div">
        <a href="#" id="modal-btn"><button class="btn-primary btn-primary-wd">Pay Fees</button></a>
    </div>

    <div class="table-wrapper" id="student_table_div">
        <table class="fl-table" id="table2excel_fees">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Class</th>
                    <th>Academic Year</th>
                    <th>Term</th>
                    <th>Fee type</th>
                    <th>Date</th>
                    <th>Amount paid</th>
                    <th>Balance</th>
                    <th>Receipient</th>
                    <th class="excludeThisClass"></th>
                </tr>
            </thead>
            <tbody>
                {% for fees in fees_list %}
                    <tr>
                        <th>{{ fees.student_id }}</th>
                        <th>{{ fees.first_name }}</th>
                        <th>{{ fees.last_name }}</th>
                        <th>{{ fees.student_class }}</th>
                        <th>{{ fees.academic_year }}</th>
                        <th>{{ fees.term }}</th>
                        <th>{{ fees.fee_type }}</th>
                        <th>{{ fees.payment_date }}</th>
                        <th>{{ fees.amount_paid }}</th>
                        <th>{{ fees.balance }}</th>
                        <th>{{ fees.receipient }}</th>
                        <th class="excludeThisClass"><a href="{% url 'receipt_delete' fees.pk %}">del</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if fees_list.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ fees_list.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for i in nums %}
	            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}

            {% if fees_list.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ fees_list.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ fees_list.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
        </ul>
    </nav>

    <button id="btnExport_excel_fees" class="btn-primary btn-primary-wd info-btn-1">export to excel</button>



    <!-- modal -->
    <div class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <div class="modal-form">
                <h2>Pay Fees</h2>
            <form method="post" class="payment-form">
                {% csrf_token %}
                <div class="inner-form-div">
                    {% for field in form %}
                    <p class="error-paragraph">{{ field.errors }}</p>
                    <input
                    id="{{ field.id_for_label }}" maxlength="255"
                    name="{{ field.html_name }}" value="{{ field.intial }}" 
                    type="{{ field.field.widget.input_type }}"
                    placeholder="{{ field.label }}">
                    {% endfor %}
                </div>

                <button type="submit" class="btn-primary" value="save">Submit</button>
            </form>
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}