{% extends 'base.html' %}

{% block title %}Delete Staff{% endblock title %}

{% block content %}
<div class="dashboard-container">
    <div class="arrow-div">
        <a href="{% url 'staff' %}"><div class="arrow-img-1"></div></a>
    </div>

    <h1>Edit post</h1>
    <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ staff.first_name }}"?</p>
    <br>
    <button type="submit" value="Confirm" class="btn-primary btn-primary-wd warning-btn" >Confirm</button>
    </form>
</div>
{% endblock content %}