{% extends 'base.html' %}

{% block title %}Students{% endblock title %}

{% block content %}
<div class="dashboard-container">
    <div class="top-nav">
        <h1><a href="{% url 'dashboard' %}">SURE START INTERNATIONAL SCHOOL</a></h1>
        <p><a href="{% url 'dashboard' %}">Dashboard</a>/<a href="{% url 'students' %}" class="active-link">Students</a></p>
    </div>

    <div class="top-buttons-div">
     <div>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in search_form %}
                    <p class="error-paragraph">{{ field.errors }}</p>
                    <input
                    id="{{ field.id_for_label }}" maxlength="255"
                    name="{{ field.html_name }}" value="{{ field.intial }}" 
                    type="{{ field.field.widget.input_type }}"
                    placeholder="{{ field.label }}">
                {% endfor %}
                <button type="submit" class="btn-primary primary-1" value="save" name="search">Search</button>
            </form>
        </div> 
        <div class="add-div">
            <a href="#" id="modal-btn"><button class="btn-primary btn-primary-wd">Add Student</button></a>
            <a href="{% url 'upload_csv' %}"><button class="btn-primary btn-primary-wd">Import students</button></a>
        </div>
    </div>


    <div class="table-wrapper" id="student_table_div">
        <table class="fl-table" id="table2excel">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Student class</th>
                    <th>Date of Birth</th>
                    <th>Mother Name</th>
                    <th>Mother Contact</th>
                    <th>Father Name</th>
                    <th>Father Contact</th>
                    <th>Place of residence</th>
                    <th>Enrollment Date</th>
                    <th class="excludeThisClass"></th>
                    <th class="excludeThisClass"></th>
                </tr>
            </thead>
            <tbody>
                {% for student in student_list %}
                    <tr>
                        <th>{{ student.student_id }}</th>
                        <th>{{ student.first_name }}</th>
                        <th>{{ student.last_name }}</th>
                        <th>{{ student.student_class }}</th>
                        <th>{{ student.date_of_birth }}</th>
                        <th>{{ student.mother_name }}</th>
                        <th>{{ student.mother_contact }}</th>
                        <th>{{ student.father_name }}</th>
                        <th>{{ student.father_contact }}</th>
                        <th>{{ student.place_of_residence }}</th>
                        <th>{{ student.date_enrolled }}</th>
                        <th class="excludeThisClass"><a href="{% url 'student_edit' student.pk %}">edit</a></th>
                        <th class="excludeThisClass"><a href="{% url 'student_delete' student.pk %}">del</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if student_list.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ fees_list.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for i in nums %}
	            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}

            {% if student_list.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ fees_list.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ fees_list.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
        </ul>
    </nav>

    <button id="btnExport_excel" class="btn-primary btn-primary-wd info-btn-1">export to excel</button>
    <button id="btnExport_pdf"  class="btn-primary btn-primary-wd info-btn-1">export to pdf</button>

    
    <!-- modal -->
    <div class="modal">
        <div class="modal-content student-modal-cnt">
            <span class="close-btn">&times;</span>
            <div class="modal-form">
                <h2>Add Student</h2>
                
            <form method="post" class="payment-form">
                {% csrf_token %}
                <div class="inner-form-div">
                    {% for field in form %}
                    <div>
                        <p class="error-paragraph">{{ field.errors }}</p>
                        {%if field.label == 'Date of birth' %}
                        <span>{{ field.label }}</span>
                        {% endif %}
                        <input
                        id="{{ field.id_for_label }}" maxlength="255"
                        name="{{ field.html_name }}" value="{{ field.intial }}" 
                        type="{{ field.field.widget.input_type }}"
                        placeholder="{{ field.label }}">
                    </div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn-primary" value="save">Submit</button>
                
            </form>
            </div>
        </div>
    </div>
    


</div>
{% endblock content %}